.App {
  text-align: center;
  background-color: black;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

a {
  color: inherit !important;
}
.plant-preview .card{
  overflow:hidden;
  max-height: 500px;
  margin-bottom: 0.5vh;
  border-radius: 0px !important;
  background-color: rgb(40,40,40);
  border: none;
  color: rgba(23,162,184, 0.8);
  box-shadow: 0px 2px 5px rgba(0,0,0, 0.5);
}
.plant-preview input{
  max-width: 70px;
}
.stockmsg{
  opacity: 0.6;
  color: #ffc107;
}
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
.card-img-container{
  max-width: 100%;
  max-height: 300px;
  overflow:hidden;
}
.card-img{
  max-height: 100%;
}

.card-body{
  padding: 0.5vh !important;
}
#plant-filters .input-group, #plant-filters .card-footer{
  display:flex;
  justify-content:space-between;
}
#plant-filters select{
  max-width: 100px;
  border-radius: 0px !important;
}
#toggle-filter{
  width: 150px;
}
#header {
  position: fixed !important;
  top: 0px;
  left: 0px;
  z-index: 1000;
  margin: 0px !important;
  /* margin-left: -11px !important; */
}
#header nav{
  width: 100vw;
  display:flex;
  background-color: rgb(40,40,40);
  box-shadow: 0px 2px 20px;
}
#header .card,#header table, #header thead, #header tbody{
  background: rgb(40,40,40);
  color: rgba(23,162,184, 0.6);
}

#header select{
  background-color: rgb(60,60,60);
  border-color: rgb(70,70,70);
  color: rgba(23,162,184, 0.6);
}
#header .update-quantity,{
  max-width: 60px;
  padding: 0px !important;
  background-color: rgb(40,40,40) !important;
  border-color: rgb(30,30,30) !important;
  color: rgba(23,162,184, 0.68) !important;
  margin: 0px !important;
}
.stock-inputs input, .modal-body input{
  background-color: rgb(40,40,40) !important;
  border-color: rgb(70,70,70) !important;
  color: rgba(23,162,184, 0.8) !important;
}
.stock-inputs .card , .modal-body, .modal-footer{
  background-color: rgb(40,40,40) !important;
}

#update-col{
  display:flex !important;
  flex-direction:column !important;
  align-items: center !important;
}
#update-col input{
  max-width: 50px;
}
.navbar-brand{
  margin: auto;
  width: 100%;
}
#cart-container{
  position: fixed;
  right: 0px;
  padding: 0px;
}
#inventory-list{
  margin-top: 60px;
}
#inventory-list input{
  background-color: rgb(40,40,40) !important;
  border-color: rgb(30,30,30) !important;
  color: rgba(23,162,184, 0.8) !important;
}
#inventory-list input:focus{
  background-color: rgb(40,40,40) !important;
  border-color: rgba(23,162,184, 0.8) !important;
  color: rgba(23,162,184, 0.8) !important;
  box-shadow: none;
}
#inventory-list .form-group .row{
  justify-content: center;
}

.card-footer{
  display: flex;
  justify-content: space-between;
}
.form-group{
  width:100%;
}

.shopping-cart .card-body{
    padding: 20px !important;
    padding-left: 50px;
    padding-right: 50px;

}
.card, .shopping-cart table {
  border-radius: 0px !important;
  background-color: rgb(40,40,40) !important;
  border: none;
  color: rgba(23,162,184, 0.8);
  box-shadow: 0px 2px 5px rgba(0,0,0, 0.5);
}

.totals{
  display:flex;
  flex-direction: column;
  align-items: flex-end;
}
.shopping-cart .card-footer{
  display: flex;
  justify-content:flex-end;
}

.shopping-cart .container{
  height: 100vh;
  margin-top: 55px;
}
.static-bg{
  height: 100vh;
  min-width: 100vw;
  z-index: 0;
  position: absolute;
  bottom: 0px;
  top: 0px;
  left: 0px;
  right: 0px;
}
#complete .static-bg{
  overflow: hidden;
}
#complete {
  height: 100vh;
  display:flex;
  justify-content: center;
  align-items: center;
}
#complete .card{
  padding: 2vh;
}
#complete img{
  height: auto;
  width: 100%;
}
.static-bg img {
  min-height: auto;
  width: 150%;
  opacity: 1;
}


 .parallax {
   perspective: 1px;
   height: 100vh;
   overflow-x: hidden;
   overflow-y: visible;
 }
 .parallax_layer {
   position: absolute;
   top: 0;
   right: 0;
   bottom: 0;
   left: 0;
 }
 .parallax_layer-front {
   transform: translateZ(0);
   -webkit-transform: translateZ(0);
 }
 .parallax_layer-back {
   transform: translateZ(-4px) scale(5);
   background:url("/tankStitchcropped.jpg") top right;
   z-index: -5;
 }
 .parallax-img{
   opacity: 0.75;
 }
 .parallax-img{
   width: 250%;
 }
